target
.settings
.classpath
.project
.idea
*.iml
.DS_Store
nb-configuration.xml
nbactions.xml
ondex.log
# These are auto-downloaded by the CI
/ci-build/build.sh
/ci-build/install.sh
Disable if you have your own
#/ci-build/maven-settings.xml
# Created by GH Actions
/settings.xml 
