[submodule "ondex-base"]
	path = ondex-base
	url = https://github.com/Rothamsted/ondex-base.git
[submodule "ondex-opt"]
	path = ondex-opt
	url = https://github.com/Rothamsted/ondex-opt.git
[submodule "ondex-desktop"]
	path = ondex-desktop
	url = https://github.com/Rothamsted/ondex-desktop.git
[submodule "ondex-doc"]
	path = ondex-doc
	url = https://github.com/Rothamsted/ondex-doc.git
[submodule "ondex-knet-builder"]
	path = ondex-knet-builder
	url = https://github.com/Rothamsted/ondex-knet-builder
[submodule "ondex-integration-tests"]
	path = ondex-integration-tests
	url = https://github.com/Rothamsted/ondex-integration-tests
[submodule "ondex-old-components"]
	path = ondex-old-components
	url = https://github.com/Rothamsted/ondex-old-components
