<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err"/>
	      <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
           <param name = "ConversionPattern" value = "%d{HH:mm:ss.SSS} %25.25C [%t] [%-5p] - %m%n" />
        </layout>
    </appender>

		<appender name="file" class="org.apache.log4j.FileAppender">
      <param name="file" value="target/test.log" />
      <param name="append" value="false" />
      <param name="threshold" value="trace" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name = "ConversionPattern" value = "%d{yyyy-MM-dd HH:mm:ss.SSS} %C [%t] [%-5p] - %m%n" />
      </layout>
    </appender>
    	        
    <logger name="net.sourceforge.ondex.rdf" additivity="true"><level value="debug" /></logger>
    <logger name="net.sourceforge.ondex.neo4j" additivity="true"><level value="debug" /></logger>
    <logger name="uk.ac.rothamsted.kg.rdf2pg" additivity="true"><level value="debug" /></logger>
    
		<logger name = "org.apache.jena" additivity = "true"><level value = "info" /></logger>
		<logger name = "TDB" additivity = "true"><level value = "info" /></logger>

    <root>
      <priority value="debug"/>
      <appender-ref ref="console"/>
      <appender-ref ref="file"/>
    </root>
        
</log4j:configuration>
