<?xml version="1.0" encoding="UTF-8"?>
<dashboard-config>
	<jiraConnection>
		<!-- proxy>wwwcache.bbsrc.ac.uk:8080</proxy -->
		<service-url>http://ondex.rothamsted.ac.uk/tracking/rpc/soap/jirasoapservice-v2</service-url>
		<username>dashboard</username>
		<password>a9b8c7d6</password>
	</jiraConnection>
	<categories>
		<category id="0" name="Visualisation"/>
		<category id="1" name="Integration"/>
		<category id="2" name="Other modules"/>
	</categories>
	<modules>
		<module jiraID="INTEGRATOR" category="1">
			<alias>Integrator</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.apps&amp;a=launcher&amp;v=0.5.0-SNAPSHOT&amp;e=zip&amp;c=packaged-distro</download-url>
		</module>
		<module jiraID="MDEDITOR" category="2">
			<alias>Metadata Editor</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.apps&amp;a=metadataeditor&amp;v=0.5.0-SNAPSHOT&amp;e=jar&amp;c=jar-with-dependencies</download-url>
		</module>
		<module jiraID="OMINI" category="1">
			<alias>Ondex Mini</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.apps&amp;a=ondex-mini&amp;v=0.5.0-SNAPSHOT&amp;e=zip&amp;c=packaged-distro</download-url>
		</module>
		<!-- module jiraID="VIEWCYPLUGIN" category="0">
			<alias>Ondex view cytoscape plugin</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.cytoscape&amp;a=ondex-view-plugin&amp;v=0.5.0-SNAPSHOT&amp;e=jar&amp;c=jar-with-dependencies</download-url>
		</module -->
		<module jiraID="WS" category="2">
			<alias>Webservices</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.webservices&amp;a=webservice-server&amp;v=0.5.0-SNAPSHOT&amp;e=war</download-url>
		</module>
		<module jiraID="CORE" category="1">
			<alias>Ondex core</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.core&amp;a=api&amp;v=0.5.0-SNAPSHOT&amp;e=jar</download-url>
		</module>
		<module jiraID="PLUGINS" category="1">
			<alias>Ondex plugins</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.apps&amp;a=ondex-all&amp;v=0.5.0-SNAPSHOT&amp;e=jar&amp;c=jar-with-dependencies</download-url>
		</module>
		<module jiraID="OXL" category="1">
			<alias>OXL module</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.modules&amp;a=oxl&amp;v=0.5.0-SNAPSHOT&amp;e=jar&amp;c=jar-with-dependencies</download-url>
		</module>
		<module jiraID="POPLAR" category="1">
			<alias>Poplar module</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.modules&amp;a=poplar&amp;v=0.5.0-SNAPSHOT&amp;e=jar&amp;c=jar-with-dependencies</download-url>
		</module>
		<module jiraID="OVTK" category="0">
			<alias>Ondex Front-end</alias>
			<download-url>http://ondex.rothamsted.ac.uk/nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=net.sourceforge.ondex.apps&amp;a=ovtk2&amp;v=0.5.0-SNAPSHOT&amp;e=zip&amp;c=packaged-distro</download-url>
		</module>
	</modules>
</dashboard-config>