<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Modified by Ondex - Version 0.5.0</comment>
<entry key="Viewer.EdgeMenu.HideEdgeLabelItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideEdgeLabelItem</entry>
<entry key="Program.URL">http://rpc466.cs.man.ac.uk:8080/ondex/services/ONDEXapiWS?wsdl</entry>
<entry key="Menu.Annotator.ScaleColorConcept">net.sourceforge.ondex.ovtk2.annotator.scalecolorconcept.ScaleColorConceptAnnotator</entry>
<entry key="Viewer.EdgeMenu.ChangeEdgeSizeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ChangeEdgeSizeItem</entry>
<entry key="Dialog.Attribute.java.lang.String">StringEditor</entry>
<entry key="Dialog.RequiredColor">255,218,185</entry>
<entry key="Viewer.VertexMenu.ShowNodeNeighbourhoodRelationTypeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowNodeNeighbourhoodRelationTypeItem</entry>
<entry key="Viewer.EdgeMenu.HideEdgeEvidenceTypeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideEdgeEvidenceTypeItem</entry>
<entry key="Program.Name">Ondex</entry>
<entry key="Dialog.Attribute.java.lang.Float">FloatEditor</entry>
<entry key="Program.Version">0.5.0</entry>
<entry key="Menu.Annotator.ColorCategory">net.sourceforge.ondex.ovtk2.annotator.colorcategory.ColorCategoryAnnotator</entry>
<entry key="Viewer.VertexMenu.ShowNodeNeighbourhoodConceptClassItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowNodeNeighbourhoodConceptClassItem</entry>
<entry key="Viewer.VertexMenu.HideNodeEvidenceTypeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideNodeEvidenceTypeItem</entry>
<entry key="Menu.Layout.GEM">net.sourceforge.ondex.ovtk2.layout.GEMLayout</entry>
<entry key="Dialog.Attribute.java.awt.Color">ColorEditor</entry>
<entry key="FilterClose.Set">false</entry>
<entry key="Dialog.Attribute.java.lang.Long">LongEditor</entry>
<entry key="Viewer.VertexMenu.ShowNodeSameTagItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowNodeSameTagItem</entry>
<entry key="Dialog.Attribute.java.util.Date">DateEditor</entry>
<entry key="Viewer.VertexMenu.ChangeNodeShapeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ChangeNodeShapeItem</entry>
<entry key="JIRA.User">dashboard</entry>
<entry key="Program.Language">english</entry>
<entry key="Webservice.Enable">false</entry>
<entry key="Viewer.VertexMenu.HideNodeTagItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideNodeTagItem</entry>
<entry key="Dialog.Attribute.java.util.List">ListEditor</entry>
<entry key="JIRA.Password">a9b8c7d6</entry>
<entry key="Notifications.Set">true</entry>
<entry key="Dialog.FieldHeight">20</entry>
<entry key="GlobalPermissions.MaxUsers">64</entry>
<entry key="Menu.Layout.ConceptClassCircle">net.sourceforge.ondex.ovtk2.layout.ConceptClassCircleLayout</entry>
<entry key="Dialog.Attribute.java.lang.Double">DoubleEditor</entry>
<entry key="Viewer.EdgeMenu.HideEdgeSameTagItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideEdgeSameTagItem</entry>
<entry key="Proxy.Host"></entry>
<entry key="ImportWizard.Enable">true</entry>
<entry key="Proxy.Set">false</entry>
<entry key="FilterClose.Option">0</entry>
<entry key="GlobalPermissions.MaxGroups">64</entry>
<entry key="Program.Password">ovtk</entry>
<entry key="Viewer.VertexMenu.ChangeNodeColorItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ChangeNodeColorItem</entry>
<entry key="Viewer.VertexMenu.HideNodeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideNodeItem</entry>
<entry key="Dialog.Attribute.java.net.URL">URLEditor</entry>
<entry key="Dialog.FieldWidth">120</entry>
<entry key="Program.Theme">default</entry>
<entry key="SQL.Enable">false</entry>
<entry key="Viewer.VertexMenu.ShowNodeNeighbourhoodItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowNodeNeighbourhoodItem</entry>
<entry key="ContentsDisplay.Plugins">EntityInfoPlugin;AccessionPlugin;TaxidPlugin;ConfidencePlugin;SequencePlugin;PublicationPlugin;HierarchyPlugin;URIPlugin;StructurePlugin;EvidencePlugin;ChemicalStructurePlugin</entry>
<entry key="Menu.Filter.Tag">net.sourceforge.ondex.ovtk2.filter.tag.TagFilter</entry>
<entry key="Dialog.Attribute.java.lang.Integer">IntegerEditor</entry>
<entry key="Viewer.VertexMenu.ShowNodeLabelItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowNodeLabelItem</entry>
<entry key="Viewer.EdgeMenu.HideEdgeRelationTypeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideEdgeRelationTypeItem</entry>
<entry key="Menu.Layout.Static">net.sourceforge.ondex.ovtk2.layout.StaticLayout</entry>
<entry key="Viewer.EdgeMenu.ShowEdgeSameTagItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowEdgeSameTagItem</entry>
<entry key="Taverna.Enable">false</entry>
<entry key="Viewer.VertexMenu.ChangeNodeClearFlagItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ChangeNodeClearFlagItem</entry>
<entry key="Viewer.VertexMenu.MergeConceptsItem">net.sourceforge.ondex.ovtk2.ui.popup.items.MergeConceptsItem</entry>
<entry key="Viewer.VertexMenu.HideNodeLabelItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideNodeLabelItem</entry>
<entry key="Dialog.Attribute.java.util.Set">SetEditor</entry>
<entry key="Proxy.Port">8080</entry>
<entry key="Viewer.VertexMenu.HideOtherNodesItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideOtherNodesItem</entry>
<entry key="Viewer.VertexMenu.ShowNodeRelationsVisibleItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowNodeRelationsVisibleItem</entry>
<entry key="Menu.Filter.RelationNeighbours">net.sourceforge.ondex.ovtk2.filter.relationneighbours.RelationNeighboursFilter</entry>
<entry key="Menu.Filter.Unconnected">net.sourceforge.ondex.ovtk2.filter.unconnected.UnconnectedFilter</entry>
<entry key="Viewer.EdgeMenu.HideEdgeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideEdgeItem</entry>
<entry key="flags.debug">false</entry>
<entry key="Viewer.EdgeMenu.ShowEdgeLabelItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowEdgeLabelItem</entry>
<entry key="Tutorial.HTML">user_guide_master.pdf</entry>
<entry key="Welcome.Show">true</entry>
<entry key="Menu.Annotator.ShapeConcept">net.sourceforge.ondex.ovtk2.annotator.shapeconcept.ShapeConceptAnnotator</entry>
<entry key="PopupEditor.Enable">true</entry>
<entry key="Program.Author">The ONDEX Project</entry>
<entry key="JIRA.URL">http://ondex.rothamsted.ac.uk/tracking/rpc/xmlrpc</entry>
<entry key="Viewer.VertexMenu.HideNodeConceptClassItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideNodeConceptClassItem</entry>
<entry key="Viewer.VertexMenu.ChangeNodeSetFlagItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ChangeNodeSetFlagItem</entry>
<entry key="Dialog.Attribute.java.lang.Boolean">BooleanEditor</entry>
<entry key="Viewer.VertexMenu.ExportNodeLabelItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ExportNodeLabelItem</entry>
<entry key="Menu.Annotator.ScaleConcept">net.sourceforge.ondex.ovtk2.annotator.scaleconcept.ScaleConceptAnnotator</entry>
<entry key="Viewer.VertexMenu.HideNodeSameTagItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideNodeSameTagItem</entry>
<entry key="Viewer.VertexMenu.ChangeNodeSizeItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ChangeNodeSizeItem</entry>
<entry key="Overwrite.Set">true</entry>
<entry key="Viewer.VertexMenu.ShowNodeTagItem">net.sourceforge.ondex.ovtk2.ui.popup.items.ShowNodeTagItem</entry>
<entry key="Program.User">ovtk</entry>
<entry key="Viewer.VertexMenu.HideNodeDataSourceItem">net.sourceforge.ondex.ovtk2.ui.popup.items.HideNodeDataSourceItem</entry>
<entry key="Menu.Annotator.ScaleColorRelation">net.sourceforge.ondex.ovtk2.annotator.scalecolorrelation.ScaleColorRelationAnnotator</entry>
</properties>
